<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Список сообщений</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Список сообщений</h1>

  <table>
    <thead>
      <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Сообщение</th>
        <th>Дата</th>
      </tr>
    </thead>
    <tbody>
      <% messages.forEach(msg => { %>
        <tr>
          <td><%= msg.name %></td>
          <td><%= msg.email %></td>
          <td><%= msg.message %></td>
          <td><%= new Date(msg.created_at).toLocaleString('ru-RU') %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <p><a href="/add">Добавить новое сообщение</a></p>
</body>
</html>
