<h1>Inventory Management</h1>
<p style="color:green;"><%= message %></p>
<ul>
  <li><a href="/inv/classification/add">Add Classification</a></li>
  <li><a href="/inv/add">Add Inventory</a></li>
</ul>
