<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Add New Classification</h1>

  <% if (message && message.length > 0) { %>
    <p><%= message %></p>
  <% } %>

  <form action="/inv/add-classification" method="POST">
    <input type="text" name="classification_name" required placeholder="Classification Name">
    <button type="submit">Add Classification</button>
  </form>
</body>
</html>
